<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterMainController</filter-name>
        <filter-class>filters.FilterMainController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterMainController</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>servlets.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>servlets.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>servlets.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadByIDController</servlet-name>
        <servlet-class>servlets.LoadByIDController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadListComputerController</servlet-name>
        <servlet-class>servlets.LoadListComputerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewController</servlet-name>
        <servlet-class>servlets.AddNewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>servlets.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>servlets.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBySupplierNameController</servlet-name>
        <servlet-class>servlets.LoadBySupplierNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadByIDController</servlet-name>
        <url-pattern>/LoadByIDController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadListComputerController</servlet-name>
        <url-pattern>/LoadListComputerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewController</servlet-name>
        <url-pattern>/AddNewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBySupplierNameController</servlet-name>
        <url-pattern>/LoadBySupplierNameController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
