# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Study At FPTU\4. Spring 2021\PRJ301 - Web-based Java Applications - VanVTT\IntelliJ\DemoSlot10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
